.container{
    background-color: rgb(231, 54, 145);
    padding: 65px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.taskCreate{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    border-radius: 8px;
    margin-top: 40px;
    box-shadow: 0 5px 10px gray;
}
.inputPlace{
    border: 1px solid rgb(211, 198, 204);
    width: 550px;
    margin-right: 20px;
    height: 50px;
    border-radius: 3px;
    padding: 15px;
    font-weight: 700;
    font-size: 15px;
    margin-top: 10px;
}
.buttonPlace{
    border: 1px solid rgb(231, 54, 145);
    user-select: none;
    padding: 15px 19px;
    font-weight: 700;
    font-size: 15px;
    border-radius: 3px;
    color: white;
    background-color: rgb(231, 54, 145);
    cursor: pointer;
    transition: all 0.3s;
    &:hover{
        transform: scale(1.1) translateY(-5px);
        box-shadow: 4px 10px 8px gray;
    }
    &:active{
        transform: scale(1) translateY(0);
        box-shadow: none;
    }
}
h2{
    color: rgb(80, 74, 77);
}
.taskCreate{
    padding: 30px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 700px;
    position: fixed;
    top: 0;
}
.completed{
    text-decoration: line-through;
    text-decoration-thickness: 2px;
}
.todoContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    flex-direction: column;
}
.TodoCreate{
    position: relative;
    padding-bottom: 100px;
}
.todoElement{
    max-width: 700px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    border-radius: 4px;
    display: flex;
    border: 1px solid rgb(221, 216, 219);
    animation: fade-in 0.6s ease-in-out;
}
.deleteBtn{
    border: 1px solid #000;
    background-color: pink;
    user-select: none;
    padding: 8px;
    font-weight: 700;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    &:hover{
        transform: scale(1.1) translateY(-2px);
        box-shadow: 0 4px 7px gray;
        background-color: rgb(230, 57, 57);
        color: white;
    }
    &:active{
        transform: scale(1) translateY(0);
        box-shadow: none;
    }
}
.editInput{
    border: 1px solid rgb(211, 198, 204);
    width: 525px;
    margin-right: 20px;
    height: 50px;
    border-radius: 3px;
    padding: 15px;
    font-weight: 700;
    font-size: 15px;
    margin-top: 10px;
}
.text{
    text-align: left;
    max-width: 550px;
    width: 100%;
    font-weight: 500;
    font-size: 17px;
    user-select: none;
    word-wrap: break-word;
    white-space: normal;
    cursor: pointer;
}
.buttons{
    display: flex;
    column-gap: 8px;
}
.editBtn{
    user-select: none;
    border: 1px solid #000;
    background-color: pink;
    padding: 8px;
    font-weight: 700;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    &:hover{
        transform: scale(1.1) translateY(-2px);
        box-shadow: 0 4px 7px gray;
        background-color: rgb(255, 255, 255);
    }
    &:active{
        transform: scale(1) translateY(0);
        box-shadow: none;
    }
}
@keyframes fade-in{
    from{
        opacity: 0;
        transform: translateX(600px);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}
.saveBtn{
    border: 1px solid #000;
    background-color: pink;
    user-select: none;
    padding: 8px;
    margin-right: 8px;
    font-weight: 700;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    &:hover{
        transform: scale(1.1) translateY(-2px);
        box-shadow: 0 4px 7px gray;
        background-color: rgb(230, 57, 57);
        color: white;
    }
    &:active{
        transform: scale(1) translateY(0);
        box-shadow: none;
    }}
.cancelBtn{
    user-select: none;
    border: 1px solid #000;
    background-color: pink;
    padding: 8px;
    font-weight: 700;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    &:hover{
        transform: scale(1.1) translateY(-2px);
        box-shadow: 0 4px 7px gray;
        background-color: rgb(230, 57, 57);
    }
    &:active{
        transform: scale(1) translateY(0);
        box-shadow: none;
    }
}