.completed{
    text-decoration: line-through;
    text-decoration-thickness: 2px;
}
.buttons{
    display: flex;
    column-gap: 8px;
}
.editBtn{
    user-select: none;
    border: 1px solid #000;
    background-color: pink;
    padding: 8px;
    font-weight: 700;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    &:hover{
        transform: scale(1.1) translateY(-2px);
        box-shadow: 0 4px 7px gray;
        background-color: rgb(255, 255, 255);
    }
    &:active{
        transform: scale(1) translateY(0);
        box-shadow: none;
    }
}
.editBtnDark{
    user-select: none;
    border: 1px solid #000;
    background-color: #F6C76C;
    padding: 8px;
    font-weight: 700;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    &:hover{
        transform: scale(1.1) translateY(-2px);
        box-shadow: 0 4px 7px gray;
        background-color: rgb(255, 255, 255);
    }
    &:active{
        transform: scale(1) translateY(0);
        box-shadow: none;
    }
}
.deleteBtn{
    border: 1px solid #000;
    background-color: pink;
    user-select: none;
    padding: 8px;
    font-weight: 700;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    &:hover{
        transform: scale(1.1) translateY(-2px);
        box-shadow: 0 4px 7px gray;
        background-color: rgb(230, 57, 57);
        color: white;
    }
    &:active{
        transform: scale(1) translateY(0);
        box-shadow: none;
    }
}
.deleteBtnDark{
    border: 1px solid #000;
    background-color: #F6C76C;
    user-select: none;
    padding: 8px;
    font-weight: 700;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    &:hover{
        transform: scale(1.1) translateY(-2px);
        box-shadow: 0 4px 7px gray;
        background-color: rgb(230, 57, 57);
        color: white;
    }
    &:active{
        transform: scale(1) translateY(0);
        box-shadow: none;
    }
}